/[[]402400055]_PP1/nbproject/private/
/[[]402400055]_PP1/build/
/lec04/nbproject/private/
/lec04/build/
/TallerColas/nbproject/private/
/Pilas/build/
/Sem4/nbproject/private/
/Pilas/nbproject/private/
